/* 
@author Sujan Aryal
*/

h1, h2, h3, body, html, blockquote, p {
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    float:left;
    padding: 10px;
    border-right: 1px solid #013859;
    min-height: 900px;
}

#userImage {
    font-size: 150px;
    color: #013859;
}

#addressContainer {
    padding: 4px;
}

#address {
    padding: 4px;
}

#leftNav {
    list-style-type: none;
    background: #013859;
   
}

#leftNav li{
    padding: 10px;   
    text-align: left; 
    border-bottom: 1px solid white;
}

#leftNav li:hover {
    padding: 16px;
}

#leftNav li a {
    color: white;
    text-decoration: none;
}

main {
    float:left;
    padding: 20px;
    min-width: 80%;
}

.single {
    border-bottom: 6px solid #013859;
    padding: 10px;
}

.single:hover {
   background: #013859;
   cursor: pointer;
   color:white;
}

.heading {
    text-decoration: underline;
    font-size: 20px;
}

.excerpt {
    font-size: 18px;
}

